---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17
ColumnLimit: 80
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AccessModifierOffset: 0
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
AlignOperands: Align
PointerAlignment: Left
ReferenceAlignment: Pointer
SortIncludes: Never
IncludeBlocks: Preserve
NamespaceIndentation: None
FixNamespaceComments: false
ReflowComments: true
...
